@layer root {
   :root {
      --rpc_dark: #131314;
      --rpc_mid_dark: #1b1b1b;
      --rpc_light_dark: hsl(210, 64%, 40%);
      --rpc_dim_accent: #33326a;
      --rpc_light_accent: #beb2fc;
      --rpc_light: #e3e3e3;
   }
}

body {
   background-color: var(--rpc_dark);
}

#titles-sec {
   text-align: center;
   margin-top: 3%;
}

#main-title {
   color: var(--rpc_light);
   font-family: "New Rocker", system-ui;
   font-weight: 400;
   font-style: normal;
   text-align: center;
}

main {
   margin-top: 2%;
}

#cpu-screen {
   width: 300px;
   height: 300px;
   background: var(--rpc_light);
   margin: 0 auto;
   border-radius: 10px;
   border: 1px solid var(--rpc_dim_accent);
   display: flex;
   justify-content: center;
   align-items: center;
}

#cpu-screen img {
   width: 90%;
   height: 90%;
   object-fit: contain;
   margin-left: 5%;
}

#score-board {
   margin: 3% auto 2%;
   width: 30%;
   height: 100px;
   background-color: var(--rpc_light_dark);
   border-radius: 20px;
   display: flex;
   align-items: center;
   border: 2px solid var(--rpc_dim_accent);
}

#score-separator {
   color: var(--rpc_light_accent);
   padding: 0 12px;
   font-size: 50px;
   font-family: "New Rocker", system-ui;
   font-weight: bolder;
}

.scores {
   color: var(--rpc_light);
   font-family: "New Rocker", system-ui;
   font-weight: bolder;
}

#player-name,
#cpu-name {
   color: var(--rpc_light_accent);
   font-family: "New Rocker", system-ui;
}

#player-side {
   flex: 1;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   gap: 8px;
}

#player-score {
   font-size: 70px;
}

#cpu-side {
   flex: 1;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 8px;
}

#cpu-score {
   font-size: 70px;
}

#sub-title {
   color: var(--rpc_light_accent);
   font-family: "Grenze", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   text-align: center;
   margin: 1% 0;
}

#reset-btn {
   display: block;
   margin: 1% auto;
   padding: 0.5% 1.5%;
   font-family: "New Rocker", system-ui;
   font-size: 1.5rem;
   border-radius: 20px;
   background-color: var(--rpc_dim_accent);
   color: var(--rpc_light);
   border: 1px solid var(--rpc_light_accent);
   cursor: pointer;
}

#reset-btn.is-hidden {
   display: none;
}

#selection-wrapper {
   margin: 0 auto;
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 30%;
}

.sign-box {
   background-color: var(--rpc_dim_accent);
   border-radius: 15px;
   border: 1px solid var(--rpc_light_accent);
   transition: all 0.3s ease-out;
   cursor: pointer;
}

.sign-box:hover {
   background-color: var(--rpc_light_accent);
   transform: scale(1.1);
   border-radius: 15px;
   border: 1px solid var(--rpc_light_accent);
}
